{% extends 'layout.html' %}

{% block body %}
  <h1>About Us</h1>
  <p>We are a Wellington-based company in Aotearoa, New Zealand. The name Fishhook was inspired by the Maori
     constellation Te Matau a Maui&mdash;the fish hook that the legendary Maui used to catch the giant fish
     that became the North Island of New Zealand. Maui’s fish hook was immortalized in the skies as a constellation
     that you may also know as Scorpius.<br>
     The Fishhook science studio was born out of our desire to demystify science and create opportunities for people who were
     turned off of science as children to reconnect and re-engage with science as adults. Our team consists of young entrepreneurs
     and scientists with backgrounds in biotechnology, engineering, computer science and astronomy. We are all dedicated to
     good science communication and have experience in teaching, tourism and tutoring of various science subjects.</p>
{% endblock %}
