{% extends 'layout.html' %}

{% block body %}
  <div class='jumbotron text-center'>
      <h1>Welcome to FishHook!</h1>
      <p class='lead'>Our mission: to get you hooked on science! Fishhook Science Studio creates immersive hands-on science workshops for adults and young adults, using tactile and digital technology.<br>

Our vision: Science is for everyone. Science underpins every facet of our lives, from the basic decisions we make about what to eat, to how we communicate with each other. Everyone should have the opportunity to learn more about the world around them&mdash;even adults!<br>

Fishhook creates practical opportunities for adults and young adults to engage with different kinds of science&mdash;to experiment, investigate, and ultimately have fun!</p>


{% endblock %}
