<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FishHookWebsite</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  </head>
  <body>
    {% include 'includes/_navbar.html' %}

    <div class='container'>
      {% block body %}{% endblock %}
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">You can get in touch with us at reelmein@fishhook.co.nz.</p>
      </div>
    </footer>

    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'></script>



  </body>
</html>
